@keyframes shellBounce {
  0%, 20%, 40% {transform: rotate(-2deg) translateY(0);}
  10% {transform: rotate(-2deg) translateY(-15px);}
  30% {transform: rotate(-2deg) translateY(-10px);}
}

.shellBounce {
  animation-name: shellBounce;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

@keyframes playerWobble {
  0%, 50%,100% {transform: rotate(0deg);}
  25% {transform: rotate(-5deg);}
  75% {transform: rotate(5deg);}
}

.playerWobble {
  animation-name: playerWobble;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes playerWobbleEnd {
  0%, 50%,100% {transform: rotate(0deg);}
  25% {transform: rotate(-2deg);}
  75% {transform: rotate(2deg);}
}

.playerWobbleEnd {
  animation-name: playerWobbleEnd;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

@keyframes greenHeartScaling {
  0%, 100% {transform: scale(0);}
  50% {transform: scale(1);}
}

.greenHeartScaling {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: greenHeartScaling;
}

@keyframes greenHeartScalingEnd {
  0%, 100% {transform: scale(0);}
  50% {transform: scale(1);}
}

.greenHeartScalingEnd {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: greenHeartScalingEnd;
}

@keyframes swirlRotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.swirlRotate {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: swirlRotate;
}

@keyframes pinkHeartPulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  70% {transform: scale(1);}
  90% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.pinkHeartPulse {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pinkHeartPulse;
}

@keyframes whoMe {
  0% {transform: scale(1);}
  100% {transform: scale(1.2);}
}

.whoMe {
  animation-duration: 1s;
  animation-name: whoMe;
  animation-fill-mode: forwards;
}

@keyframes bigPinkHeartPulse {
  0% {transform: scale(1.4);}
  50% {transform: scale(1.7);}
  60% {transform: scale(1.4);}
  80% {transform: scale(1.6);}
  100% {transform: scale(1.4);}
}

.bigPinkHeartPulse {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-name: bigPinkHeartPulse;
}

@keyframes finalEagleBobbing {
  0% 100% {transform: translateY(0px);}
  50% {transform: translateY(4px);}
}

.finalEagleBobbing {
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: finalEagleBobbing;
}

@keyframes bulletFloatAway {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}

.bulletFloatAway {
  animation-name: bulletFloatAway;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes letterBouncing {
  0% 100% {transform: translateY(40px);}
  50% {transform: translateY(-40px);}
}

.letterBouncing {
  animation-name: letterBouncing;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
