@font-face {
  font-family: 'Caveat';
  src: url('../assets/Caveat-Bold.ttf')  format('truetype');
}

body {
  background-color: #111;
}

/*  index  */
#anotherContainer {
  z-index: 0;
  position: absolute;
  margin: 0 auto;
}

#background {
  z-index: 1;
  outline: 1px solid #bd1e98;
  padding: 10px;
  background: #ed4aca;
}

/*  dom  */
.gameObjDiv {
  z-index: 3;
}

.gameObjImg {
  max-width:100%;
  max-height:100%;
}

/* player */
.greenHeart {
  transform: scale(0);
  display: inline-block;
  z-index: 6;
}

/* bullets */
.waterBlt {
  transform: rotate(-134deg);
}

/* shell */
#shell {
  transform: rotate(-2deg);
  z-index: 4;
}

#shellBubble {
  display: none;
  width: fit-content;
  min-width: 40px;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  max-width: 200px;
  max-height: 80px;
  position: relative;
  border: 2px solid rgba(74, 227, 186, 1);
  background: rgba(0, 149, 125, 0.8);
  border-radius: 14px;
  padding: 6px 10px;
  font-family: Verdana;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  top: -80px;
  left: 64px;
}

#shellBubble.webMode {
  font-size: 16px;
  top: -74px;
  left: 44px;
  min-width: 20px;
  max-width: 160px;
}

/* sparkle */
.sparkle {
  position: absolute;
  background: #fff;
  z-index: 2;
}

/* status */
#status {
  position: absolute;
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: white;
  font-weight: 600;
  font-variant: small-caps;
}

#status.webMode {
  font-size: 26px;
}

.statusImg {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.statusImg.webMode {
  width: 20px;
  height: 20px;
}

/* water */
#water {
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, rgb(231, 73, 252, 1), rgb(231, 73, 252, 0));
}

/* end credits */
#endCredits {
  z-Index: 5;
  position: absolute;
  height: 200px;
  text-align: center;
  width: 100%;
}

.role {
  padding-top: 140px;
  height: 10px;
  text-align: center;
  z-index: 5;
  font-family: Verdana;
  font-size: 34px;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #ffff65;
  opacity: 0.8;
  font-weight: 600;
  font-variant: small-caps;
}

.role.webMode {
  font-size: 24px;
  padding-top: 35px;
  margin-bottom: -10px;
}

.name {
  height: 10px;
  margin: 30px 0 -80px;
  text-align: center;
  z-index: 5;
  font-family: Verdana;
  font-size: 40px;
  letter-spacing: 6px;
  word-spacing: 10px;
  color: #111;
  font-weight: 800;
  font-variant: small-caps;
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
}

.name.webMode {
  font-size: 32px;
  margin: 30px 0 20px;
  font-weight: 600;
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;

}


/* start screen */
#curtain {
  position: absolute;
  background: #000;
  opacity: 0.9;
  z-index: 4;
}

#startScreen {
  z-index: 5;
}

#title {
  margin: -60px 0 -140px;
  font-family: 'Caveat', cursive;
  font-size: 100px;
  text-align: center;
  text-shadow: -3px 0px #3befd7, 0px 3px #3befd7, 3px 0px #3befd7, 0px -3px #3befd7;
}

#title .webMode {
  margin: 120px 0 0px;
  font-size: 60px;
  text-shadow: -2px 0px #3befd7, 0px 2px #3befd7, 2px 0px #3befd7, 0px -2px #3befd7;

}

#title .line2 p {
  font-size: 180px;
  transform: rotate(-5deg);
  font-weight: 600;
  padding: 0;
  line-height: 0px;
  margin: -45px 0 100px;
  color: rgba(255, 255, 255, 0.01);
  text-shadow: -0px 0px #3befd7, 0px 0px #3befd7, 0px 0px #3befd7, 0px -0px #3befd7;
  letter-spacing: 4px;
  display: inline-block;
}

#title p.line2.webMode {
  margin: 80px 0 90px;
}

#title .line2 p.webMode {
  font-size: 120px;
  transform: rotate(-5deg);
  font-weight: 600;
  line-height: 0px;
  color: rgba(255, 255, 255, 0.01);
  text-shadow: -0px 0px #3befd7, 0px 0px #3befd7, 0px 0px #3befd7, 0px -0px #3befd7;
  letter-spacing: 4px;
  display: inline-block;
}

.instruction {
  padding-top: 80px;
  padding-right: 180px;
  height: 10px;
  text-align: right;
  z-index: 5;
  font-family: Verdana;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #ffd54d;
  opacity: 0.9;
  font-weight: 600;
  font-variant: small-caps;
}

.instruction.webMode {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  z-index: 5;
  font-family: Verdana;
  font-size: 28px;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #ffd54d;
  opacity: 0.9;
  font-weight: 600;
  font-variant: small-caps;
}

#joystick {
  top: 390px;
  right: 30px;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
}

#restartBtn {
  right: 50px;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 5;
  top: 570px;
}
